.edgeBox {
    FONT-WEIGHT: 500;
    display: grid;
    grid-template-columns: 8em;
    grid-template-rows: 5em 5em 5em;
    padding: 5px;
    max-height: 15em;
    margin: 1em;
    border-radius: 10px;
  }